.vkbe-project-jumbotron {
    background: linear-gradient(#000000, #010f1f);
    height: 620px;
}

.back-btn {
    color: #0000AE;
    text-decoration: none;
}
  
.back-btn:hover {
    color: #0000AE;
    text-decoration: none;
}

.back-btn-text {
    font-size: 25px;
}

.vkbe-project-logo {
    width: 250px;
    height: 100px;
}

.vkbe-project-title {
    color: #F5F5F5;
    font-size: 50px;
}

.vkbe-project-subtitle {
    color: #F5F5F5;
    font-size: 25px;
}

.gallery-title {
    color: #F5F5F5;
    font-size: 55px;
    font-weight: 700;
}

.gallery-jumbotron {
    background-color: #080808;
}

.gallery-title {
    margin-left: 100px;
}

.gallery {
    height: auto;
    width: 100%;
}


@media only screen and (max-width: 1199px) {

    .vkbe-project-logo {
        width: 235px;
        height: 90px;
    }

    .vkbe-project-title {
        font-size: 45px;
    }

    .vkbe-project-subtitle {
        font-size: 22px;
    }

    .back-btn-text {
        font-size: 22px;
    }

}

@media only screen and (max-width: 991px) {

    .vkbe-project-logo {
        width: 220px;
        height: 80px;
    }

    .vkbe-project-title {
        font-size: 40px;
    }

    .vkbe-project-subtitle {
        font-size: 19px;
    }

    .back-btn-text {
        font-size: 19px;
    }

}

@media only screen and (max-width: 767px) {

    .vkbe-project-logo {
        width: 205px;
        height: 70px;
    }

    .vkbe-project-title {
        font-size: 35px;
    }

    .vkbe-project-subtitle {
        font-size: 17px;
    }

    .back-btn-text {
        font-size: 17px;
    }

}

@media only screen and (max-width: 575px) {

    .vkbe-project-logo {
        width: 190px;
        height: 60px;
    }

    .vkbe-project-title {
        font-size: 30px;
    }

    .vkbe-project-subtitle {
        font-size: 15px;
    }

    .back-btn-text {
        font-size: 15px;
    }

}

@media only screen and (max-width: 465px) {

    .vkbe-project-logo {
        width: 175px;
        height: 50px;
    }

    .vkbe-project-title {
        font-size: 25px;
    }

    .vkbe-project-subtitle {
        font-size: 13px;
    }

    .back-btn-text {
        font-size: 13px;
    }

}