.vkbe-project-jumbotron {
    background: linear-gradient(#000000, #010f1f);
    height: 620px;
}

.back-btn {
    color: #0000AE;
    text-decoration: none;
}
  
.back-btn:hover {
    color: #0000AE;
    text-decoration: none;
}

.vkbe-project-title {
    color: #F5F5F5;
}

.vkbe-project-subtitle {
    color: #F5F5F5;
    font-size: 20px;
}

.gallery-title {
    color: #F5F5F5;
    font-size: 55px;
    font-weight: 700;
}

.gallery-jumbotron {
    background-color: #080808;
}

.gallery-title {
    margin-left: 100px;
}

.gallery {
    height: auto;
    width: 100%;
}