.contact-container {
    background-color: #080808;
    height: 95vh;
}

.contact-section {
    color: #F5F5F5;
}

.contact-pic {
    height: 40vmin;
    border-radius: 50%;
    margin-bottom: 30px;
}

.contact-info {
    color: #DCDCDC;
    font-size: 30px;
}

.social-links {
    color: #DCDCDC;
    text-decoration: none;
    font-size: 7vh;
}

.social-links:hover {
    color:#DCDCDC;
}


@media only screen and (max-width: 991px) {
    
    .contact-info {
        font-size: 28px;
    }

}

@media only screen and (max-width: 767px) {
    
    .contact-info {
        font-size: 25px;
    }

}

@media only screen and (max-width: 575px) {
    
    .contact-info {
        font-size: 22px;
    }

    .social-links {
        font-size: 6vh;
    }

}

@media only screen and (max-width: 500px) {
    
    .contact-info {
        font-size: 20px;
    }

    .social-links {
        font-size: 5vh;
    }

}

@media only screen and (max-width: 403px) {
    
    .contact-info {
        font-size: 17px;
    }

}