.main-container {
  background-color: #080808;
  height: 95vh;
}

.main-pic {
  height: 45vmin;
  border-radius: 50%;
  margin-bottom: 20px;
}

.header-text {
  color: #F5F5F5;
  font-family: 'Open Sans Condensed';
  text-shadow: 3px 3px #0000AE,
  2px 2px #0000AE;
}

.name {
  font-size: 80px;
}

.title {
  font-size: 40px;
}

.text {
  line-height: 2em;
  font-size: 35px;
}

.learn-btn {
  color: #0000AE;
  text-decoration: none;
}

.learn-btn:hover {
  color: #0000AE;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {

  .name {
    font-size: 75px;
  }
  
  .title {
    font-size: 35px;
  }

  .text {
    font-size: 30px;
  }

}

@media only screen and (max-width: 767px) {

  .name {
    font-size: 60px;
  }
  
  .title {
    font-size: 30px;
  }

  .text {
    font-size: 25px;
  }

}

@media only screen and (max-width: 575px) {

  .profile-pic {
    margin-top: 30px;
  }

}

@media screen and (max-width: 479px) {

  .name {
    font-size: 45px;
  }
  
  .title {
    font-size: 25px;
  }

  .text {
    font-size: 20px;
  }
  
}