.portfolio-container {
    background-color: #080808;
    margin-bottom: 100px;
}

.portfolio-title {
    font-size: 60px;
    font-weight: 600;
    color: #F5F5F5;
    margin-top: 50px;
}

.brand-icons {
    display: flex;
    justify-content: space-around;
}

.html-icon {
    color: #E34C26;
}

.css-icon {
    color: #264DE4;
}

.js-icon {
    color: #F0DB4F;
}

.react-icon {
    color: #61DBFB;
}

.bootstrap-icon {
    color: #563D7C;
}

.portfolio-subtitle {
    color: #F5F5F5;
    font-size: 20px;
}

.vkbe-jumbotron {
    background: linear-gradient(#010f1f, #000000);
    height: 620px;
}

.vkbe-container {
    margin-left: 100px;
}

.vkbe-title {
    color: #F5F5F5;
}

.vkbe-btn {
    color: #0000AE;
    text-decoration: none;
}
  
.vkbe-btn:hover {
    color: #0000AE;
    text-decoration: none;
}

.vkbe-pic1 {
    position: absolute;
    margin-left: 500px;
    height: auto;
    width: 100%;
}

.vkbe-pic2 {
    position: absolute;
    margin-left: 650px;
    margin-top: 120px;
    height: auto;
    width: 100%;
}

/* background: linear-gradient(rgb(11, 20, 22), rgb(29, 8, 22)); */

/* background: linear-gradient(#000000, #230820); */