.about-container {
    background-color: #080808;
    margin-top: 75px;
}

.about-section {
    color: #F5F5F5;
}

.about-pic {
    height: 25vmin;
    border-radius: 50%;
    margin-bottom: 20px;
}

.contact-info {
    color: #DCDCDC;
    font-size: 17px;
}

.social-links {
    color: #DCDCDC;
    text-decoration: none;
}

.social-links:hover {
    color: #0000AE;
}

.about-title {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 30px;
}

.about-text {
    font-size: 20px;
    color: #DCDCDC;
}

.about-quote {
    font-size: 25px;
    font-weight: 600;
    margin-top: 120px;
}

.talk-btn {
    color: #0000AE;
    text-decoration: none;
    margin-bottom: 3px;
}

.talk-btn:hover {
    color: #0000AE;
    text-decoration: none;
}